*,
body,
html {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(46, 189, 196, 1) 0%,
    rgba(104, 229, 178, 1) 100%
  );
}

.navbar-scroll{
  background-color: white;
  height: 40px;
  padding: 20px;
  position: fixed;
  margin-top:-2px  !important;
  transition: 0.2s ease-in;
}

.navbar-scroll  .navbar-brand{
  color: #3a4348;
}
.navbar-scroll .nav-link {
  color: #3a4348;
}
.navbar-scroll .nav-list button{
  background-color: #24bdc9 ;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* position: relative; */
  z-index: 9;
  padding-top: 30px;
}

.navbar-brand {
  font: 20px "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: flex;
  /* padding-left: 190px; */
  list-style: none;
}

.nav-link {
  padding: 20px;
  font: 14px "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}

.nav-list button {
  border: 0.5px solid rgb(255, 255, 255, 0.7);
  color: white;
  font: 14px "Poppins", sans-serif;
  background-color: transparent;
  width: 120px;
  margin-top: -10px;
  padding: 10px;
  border-radius: 25px;
}

/* .navbar--nav-alllist{
    align-items: center;
} */
.Hamburger-menu {
  display: none;
  color: white;
  font-size: 20px;
}

.Hamburger-menu a {
  color: white;
  text-decoration: none;
}

.icon-name {
  text-decoration: none;
  font: 20px "Poppins", sans-serif;
}

/* Navbar-css over */

/* hero--circle-section start */
.hero--circle-section {
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero--circle-section .overlay-circle-bg-1:before {
  position: absolute;
  margin-top: 112px;
  right: calc(100% - 70%);
  content: "";
  opacity: 1;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.hero--circle-section .overlay-circle-bg-1:after {
  position: absolute;
  margin-top: 272px;
  left: calc(100% - 70%);
  content: "";
  opacity: 1;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.hero--circle-section .overlay-circle-bg-2:before {
  position: absolute;
  top: -70px;
  left: calc(100% - 89%);
  content: "";
  opacity: 1;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.hero--circle-section .overlay-circle-bg-2:after {
  position: absolute;
  margin-top: 464px;
  right: calc(100% - 97%);
  content: "";
  opacity: 1;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* hero--circle-section end */


/* hero-section--container start */
.hero-section--container {
    display: flex;
    padding-bottom: 70px;
    padding-top: 300px;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
  }
  .menu-wraper{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .menu-link{
      text-decoration: none;
    color: white;
    padding-right: 20px;
}
.span-menu-acitve{
    font: 13px 'Poppins',Arial,sans-serif;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: #fff;

}

.span-menu{
    font: 13px 'Poppins',Arial,sans-serif;
    color: #FFFFFFB3;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

  
  .hero-section--para{
    width: 100%;
    text-align: center;

}
  .hero-section-para1 {
    color: white;
    font: 44px "Poppins", sans-serif;
    font-weight: 500;
    padding-bottom: 150px;
    line-height: 55px;
  }


  /* Feature container */
  .feature-container{
      width: 100%;
      display: flex;
      background-color: #f8faff;
      padding-top: 150px;
      padding-bottom:  150px;
  }
  .feature-wraper{
    width: 50%;
    }
    .feature-img-wraper{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .feature-img{
        width: 80%;
        height: 540px;
        background-image: url(	https://preview.colorlib.com/theme/raptor/images/xabout.jpg.pagespeed.ic.yvQRuTvGpA.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .feature-btn{
        display: flex;
        padding-left: 50px;
        padding-top: 70px;
    }

    .feature-btn-active{
        border: none;
        margin: 0px 5px;
        background: #22d47b;
        font: 18px "Poppins", sans-serif;
        width: 150px;
        padding: 10px;
        color: white;
        border-radius: 25px;
    }
    .feature-btn-active:hover{
        cursor: pointer;
    }
    .feature-btn-noactive{
        border: 1px solid#22D47B;
        margin: 0px 5px;
        background-color: transparent;
        color: #22d47b;
        font: 18px "Poppins", sans-serif;
        width: 150px;
        padding: 10px;
        border-radius: 25px;
    }

    .feature-btn-noactive:hover{
        cursor: pointer;
        background: #22d47b;
        color: white;
        transition: 0.5s ease;
    }
    .feature-desc {
        padding-left: 50px;
        padding-top: 40px;
        padding-right: 40px;
    }
    .feature-desc h1{
        font: 24px 'Poppins',Arial,sans-serif;
        color: #3a4348;
        padding-bottom: 15px;
    }
    .feature-desc  p{
        padding-right: 220px;
        padding-top: 15px;
        font: 16px 'Poppins',Arial,sans-serif;
        font-weight: 300;
        color: #81919A;
    }
    
  /* Feature container end*/

  /* Team section */

  .team-contianer{
    width: 100%;
    background: white;
    padding-bottom: 150px;
  }

  .team-section{
    padding-top: 190px;
    width: 100%;
    text-align: center;
  }
  
  .team-tag{
    color: #24bdc9;
    font: 14px "Poppins", sans-serif;
    display: block;
    margin-bottom: 20px;
  }
  
  .team-tagline{
    display: block;
    margin-bottom: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .team-desc{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .team-text{
    display: block;
    color: #91a0a8;
    font: 16px "Poppins", Arial, sans-serif;
    font-weight: 300;
    width: 50%;
    padding: 15px;
  }

  .team-wraper{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding-top: 80px;
  }

  .member-container{
    width: 30%;
  }

  .member-img{
    width: 100%;
    padding-top: 30px;
  }

  .member-img img{
    width: 70%;
    height: auto;
  }

  .member-container h1{
    font: 20px 'Poppins',Arial,sans-serif;
    color:#3a4348;

  }
  .member-container .member-desig{
    font: 14px 'Poppins',Arial,sans-serif;
    color: #81919A;
  }
  .member-container .memeber-text{
    font: 16px  'Poppins',Arial,sans-serif;
    padding-top: 20px;
    padding-right: 89px;
    font-weight: 300;
    color: #81919A;
    line-height: 1.9rem;
  }
  /* Team section */

  /* Fun Facts css */
.funfact-container{
  position: relative;
}
.funfact-container::before {
content: "";
position: absolute;
background-image: linear-gradient(
    135deg,
    rgba(46, 189, 196, 0.8),
    rgba(104, 229, 178, 0.7)
  ),
  url(../images/backimg.png);

width: 100%;
height: 100%;

display: block;
background-size: cover;
}

.funfactpara {
font-family: "Poppins", Arial, sans-serif;
color: white;
width: 100%;
position: relative;
text-align: center;
padding-top: 200px;
}

.funfact-para1 {
font-size: 40px;
}

.funfact-para2 {
font-size: 14px;
padding: 20px 0px;
font-weight: 300;
}
.funfact--features {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 20px;
padding: 50px;
position: relative;
text-align: center;
}

.funfact-section {
font-family: "Poppins", Arial, sans-serif;
}
.funfact-number {
font-size: 30px;
color: white;
}

.funfact-desc {
font-size: 16px;
color: rgba(255, 255, 255, 0.7);
}
/* Fun Facts css  end*/

/* customer testimonial css */
.customertestimonial-container {
  background: #f8faff;
  width: 100%;
}

.customertestimonial-section {
  padding-top: 190px;
  width: 100%;
  text-align: center;
}

.testimonialsection-para1 {
  color: #24bdc9;
  font: 14px "Poppins", sans-serif;
  display: block;
  margin-bottom: 20px;
}

.testimonialsection-para2 {
  display: block;
  margin-bottom: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.testimonialdesc {
  display: flex;
  width: 100%;
  justify-content: center;
}
.testimonialsection-para3 {
  display: block;
  color: #91a0a8;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
  width: 50%;
  padding: 15px;
}

.customertestimonial-feedback {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  margin-top: 126px;
  padding-bottom: 209px;
  font-family: "Poppins", Arial, sans-serif;
}

.testimonial-feedback {
  box-shadow: rgba(145, 160, 168, 0.08) 0px 2px 8px 0px;
  width: 360px;
  position: relative;
  background: white;
  height: 370px;
}
.customerprofile {
  position: absolute;
  left: 36px;
  top: -40px;
}
.customerphoto {
  position: relative;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.doublequoteicon-circle {
  position: absolute;
  border-radius: 50px;
  background: #e1faee;
  width: 45px;
  height: 45px;
  bottom: 3px;
  left: 70px;
}
.doublequoteicon {
  font-size: 60px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  color: #22d47b;
}
.customer-review {
  color: #81919a;
  font: 16px "Poppins", Arial, sans-serif;
  margin-top: 100px;
  padding: 0px 34px;
  font-weight: 300;
  line-height: 30px;
}
.customer-name {
  padding: 34px;
}

.cust-name {
  font-size: 16px;
  color: #3a4348;
  font-weight: 500;
  padding-bottom: 10px;
}

.cust-designation {
  font-size: 13px;
  color: #81919a;
  font-weight: 300;
}
/* customer testimonial css end */


/* Footer section css */
.footer-main {
  width: 100%;
  background-color: #24bbc9;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 55px;
}
.footer-box--one {
  width: 17%;
}
.footer-box--lg {
  width: 20%;
  position: relative;
}
.footer-box--sg {
  width: 20%;
}

.footer-head {
  font: 18px "Poppins", Arial, sans-serif;
  color: white;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer-text {
  font: 16px "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.footer-link {
  list-style: none;
  padding-top: 22px;
  color: rgba(255, 255, 255, 0.7);
  font: 16px "Poppins", Arial, sans-serif;
}
.footer-link:hover{
  color: white;
}
.contact-link {
  list-style: none;
}
.contact-link li {
  color: white;
  list-style: none;
  line-height: 50px;
}
.contact-link i {
  width: 30px;
  font-size: 18px;
}
.footer-btn {
  border: none;
  background-color: white;
  color: #24bbc9;
  font: 16px "Poppins", Arial, sans-serif;
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
}
.contact-text {
  color: white;
  font: 16px "Poppins", Arial, sans-serif;
}
.menu-link {
  line-height: 25px;
}
.contact-wrapper {
  display: flex;
}
.contact-para {
  padding-top: 10px;
}

.contact-text a {
  text-decoration: none;
  color: white;
}

.social-link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 49px;
}

.social-link a {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  text-align: center;
  width: 50px;
}
.social-link i {
  padding-top: 6px;
  text-decoration: none;
  color: white;
  font-size: 35px !important;
}

.footer-copyright {
  text-align: center;
  padding-top: 78px;
  width: 100%;
}
.footer-copyright p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font: 16px "Poppins", Arial, sans-serif;
}

/* Footer section */
