*,
body,
html {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(46, 189, 196, 1) 0%,
    rgba(104, 229, 178, 1) 100%
  );
}

.navbar-scroll{
  background-color: white;
  height: 40px;
  padding: 20px;
  position: fixed;
  margin-top:-2px  !important;
  transition: 0.2s ease-in;
}

.navbar-scroll  .navbar-brand{
  color: #3a4348;
}
.navbar-scroll .nav-link {
  color: #3a4348;
}
.navbar-scroll .nav-list button{
  background-color: #24bdc9 ;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* position: relative; */
  z-index: 9;
  padding-top: 30px;
}

.navbar-brand {
  font: 20px "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: flex;
  /* padding-left: 190px; */
  list-style: none;
}

.nav-link {
  padding: 20px;
  font: 14px "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}

.nav-list button {
  border: 0.5px solid rgb(255, 255, 255, 0.7);
  color: white;
  font: 14px "Poppins", sans-serif;
  background-color: transparent;
  width: 120px;
  margin-top: -10px;
  padding: 10px;
  border-radius: 25px;
}

/* .navbar--nav-alllist{
    align-items: center;
} */
.Hamburger-menu {
  display: none;
  color: white;
  font-size: 20px;
}

.Hamburger-menu a {
  color: white;
  text-decoration: none;
}

.icon-name {
  text-decoration: none;
  font: 20px "Poppins", sans-serif;
}

/* Navbar-css over */

/* hero--circle-section start */
.hero--circle-section {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .hero--circle-section .overlay-circle-bg-1:before {
    position: absolute;
    margin-top: 112px;
    right: calc(100% - 70%);
    content: "";
    opacity: 1;
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  .hero--circle-section .overlay-circle-bg-1:after {
    position: absolute;
    margin-top: 272px;
    left: calc(100% - 70%);
    content: "";
    opacity: 1;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  .hero--circle-section .overlay-circle-bg-2:before {
    position: absolute;
    top: -70px;
    left: calc(100% - 89%);
    content: "";
    opacity: 1;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  .hero--circle-section .overlay-circle-bg-2:after {
    position: absolute;
    margin-top: 464px;
    right: calc(100% - 97%);
    content: "";
    opacity: 1;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  /* hero--circle-section end */
  
  
  /* hero-section--container start */
  .hero-section--container {
      display: flex;
      padding-bottom: 70px;
      padding-top: 300px;
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
    }
    .menu-wraper{
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    .menu-link{
        text-decoration: none;
      color: white;
      padding-right: 20px;
  }
  .span-menu-acitve{
      font: 13px 'Poppins',Arial,sans-serif;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      color: #fff;
  
  }
  
  .span-menu{
      font: 13px 'Poppins',Arial,sans-serif;
      color: #FFFFFFB3;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7);
  }
  
    
    .hero-section--para{
      width: 100%;
      text-align: center;
  
  }
    .hero-section-para1 {
      color: white;
      font: 44px "Poppins", sans-serif;
      font-weight: 500;
      padding-bottom: 150px;
      line-height: 55px;
    }
  /* hero-section--container start */

  /* pricing section */
.pricing-container {
    background: #f8faff;
    width: 100%;
  }
  
  .pricing-tagline {
    padding-top: 190px;
    width: 100%;
    text-align: center;
  }
  
  .pricing-tag {
    color: #24bdc9;
    font: 14px "Poppins", sans-serif;
    display: block;
    margin-bottom: 20px;
  }
  
  .pricing-tagline h2 {
    display: block;
    margin-bottom: 28px;
    font: 30px "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .pricing-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    padding-bottom: 209px;
    text-align: center;
    grid-row-gap: 39px;
    align-content: center;
    font-family: "Poppins", Arial, sans-serif;
  }
  
  .pricing-listbox {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    height: 570px;
  }
  
  .prices {
    background: #24bdc9;
    padding: 10px 20px 22px 20px;
    width: 38px;
    height: 8px;
    margin: 0px 90px;
    font: 14px "Poppins", Arial, sans-serif;
    border-radius: 0px 0px 93px 62px / 0px 216px 77px 57px;
  }
  
  .prices2 {
    background: #24bdc9;
    padding: 10px 20px 22px 20px;
    width: 60px;
    height: 8px;
    margin: 0px 80px;
    font: 14px "Poppins", Arial, sans-serif;
    border-radius: 0px 0px 93px 62px / 0px 216px 77px 57px;
  }
  
  .pricing-mentiontag {
    color: white;
  }
  
  .pricing-mentiontag2 {
    color: white;
  }
  
  .hosting {
    position: relative;
    margin-top: 50px;
  }
  
  .dollar {
    position: relative;
    font-size: 20px;
    top: -23px;
    font-weight: 300;
  }
  
  .number {
    font-size: 40px;
  }
  
  .price-desc {
    padding: 22px 20px;
    color: #b3b3b3;
    font: 16px "Poppins", Arial, sans-serif;
    font-weight: 300;
  }
  
  .price-desc2 {
    padding: 20px 0px;
    color: #b3b3b3;
    margin: 0px 50px;
    width: 150px;
    font: 16px "Poppins", Arial, sans-serif;
    font-weight: 300;
  }
  
  .ctnbutton {
    border: none;
    background: #daf6f8;
    color: #24bdc9;
    padding: 20px;
    width: 200px;
    font: 16px "Poppins", Arial, sans-serif;
    border-radius: 35px;
  }
  
  .price-para1 {
    font: 16px "Poppins", Arial, sans-serif;
    padding-top: 20px;
  }
  
  .price-para2 {
    width:161px;
    font: 16px "Poppins", Arial, sans-serif;
    text-align: center;
    padding-left: 41px;
    padding-top: 20px;
    line-height: 41px;
  }
  
  .hosting-service {
    color: #b3b3b3;
    font: 16px "Poppins", Arial, sans-serif;
    font-weight: 300;
  }
  
  /* pricing section end */
  
  /* Services section start*/

.service-tagline {
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    padding: 115px 0;
  }
  
  .service-tag {
    color: #24bdc9;
    font-size: 14px;
    padding: 20px 0;
  }
  
  .service-tagline h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
    justify-items: center;
    padding-bottom: 209px;
    text-align: center;
    margin: 0 50px;
  }
  
  .servicelist {
    font-family: "Poppins", Arial, sans-serif;
  }
  
  .servicename {
    font-size: 20px;
    font-weight: 400;
    margin: 7px 0px;
  }
  
  .servicedesc {
    font-size: 16px;
    font-weight: 300;
    color: #81919a;
  }
  
  .service-img {
    position: relative;
  }
  
  .overlay-circle-bg-3:before {
    position: absolute;
    margin-top: 14px;
    right: calc(100% - 44%);
    content: "";
    opacity: 0.7;
    width: 25px;
    height: 25px;
    background: #cdf3f6;
    border-radius: 50%;
  }
  
  .overlay-circle-bg-4:after {
    position: absolute;
    margin-top: 50px;
    left: calc(100% - 47%);
    content: "";
    opacity: 0.7;
    width: 40px;
    height: 40px;
    background: #d4f8e6;
    border-radius: 50%;
  }
  
  .overlay-circle-bg-5:before {
    position: absolute;
    margin-top: 14px;
    left: calc(100% - 63%);
    content: "";
    opacity: 0.7;
    width: 25px;
    height: 25px;
    background: #cdf3f6;
    border-radius: 50%;
  }
  
  .overlay-circle-bg-6:after {
    position: absolute;
    margin-top: 50px;
    left: calc(100% - 46%);
    content: "";
    opacity: 0.7;
    width: 40px;
    height: 40px;
    background: #d4f8e6;
    border-radius: 50%;
  }
  
  .overlay-circle-bg-7:before {
    position: absolute;
    margin-top: 14px;
    left: calc(100% - 62%);
    content: "";
    opacity: 0.7;
    width: 25px;
    height: 25px;
    background: #cdf3f6;
    border-radius: 50%;
  }
  
  .overlay-circle-bg-8:after {
    position: absolute;
    margin-top: 57px;
    left: calc(100% - 47%);
    content: "";
    opacity: 0.7;
    width: 40px;
    height: 40px;
    background: #d4f8e6;
    border-radius: 50%;
  }
  
  /* Services section end */
  
  
  /* Faq section css */
  .faq-container{
    width: 100%;
    background: #f8faff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.fact-text-container{
  width: 100%;
  text-align: center;
}
.fact-text-container p{
  color: #24bdc9;
    font: 14px 'Poppins',Arial,sans-serif;
    padding-bottom: 20px;
}
.fact-text-container h1{
  color: #3a4348;
  font: 30px 'Poppins',Arial,sans-serif;
}
.faq-section{
  display: flex;
  width: 100%;
}
  .faq-wraper{
    width: 100%;
    padding-top: 55px;
    padding-right: 24px;
    padding-left: 202px;
  }

  .faq-wraper-two{
    width: 100%;
    padding-top: 55px;
    padding-right: 202px;
    padding-left: 6px;
  }

.faq-box{
  width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #edeff0;
    padding: 4px 0px;
    margin-bottom: 20px;
}

.faq-box .accordion p:after {
  content: '\002B';
  color: white;
  background-color:#22d47b;
  border-radius:50%;
  padding:2px 9px;
  float: right;
  font-size: 16px;
  margin-right: 20px;
  
}
.faq-box .panel{
  padding: 5px 20px;
  /* margin-top: 10px; */
  font: 16px 'Poppins',Arial,sans-serif;;
  color: #81919a;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faq-box .accordion{
  width: 100%;
  background-color: transparent;
  border:none;
  text-align:left ;
  padding-top: 20px;
}
.faq-box .accordion :hover{
  cursor: pointer;
}
.faq-box p{
  font: 20px 'Poppins',Arial,sans-serif;
  color: black;
  font-weight: 400;
  padding-left:20px ;
}

/* .active:after {
  content: "\2212";
} */

  /* Faq section css end*/

  /* Footer section css */
.footer-main {
  width: 100%;
  background-color: #24bbc9;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 55px;
}
.footer-box--one {
  width: 17%;
}
.footer-box--lg {
  width: 20%;
  position: relative;
}
.footer-box--sg {
  width: 20%;
}

.footer-head {
  font: 18px "Poppins", Arial, sans-serif;
  color: white;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer-text {
  font: 16px "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.footer-link {
  list-style: none;
  padding-top: 22px;
  color: rgba(255, 255, 255, 0.7);
  font: 16px "Poppins", Arial, sans-serif;
}
.footer-link:hover{
  color: white;
}
.contact-link {
  list-style: none;
}
.contact-link li {
  color: white;
  list-style: none;
  line-height: 50px;
}
.contact-link i {
  width: 30px;
  font-size: 18px;
}
.footer-btn {
  border: none;
  background-color: white;
  color: #24bbc9;
  font: 16px "Poppins", Arial, sans-serif;
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
}
.contact-text {
  color: white;
  font: 16px "Poppins", Arial, sans-serif;
}
.menu-link {
  line-height: 25px;
}
.contact-wrapper {
  display: flex;
}
.contact-para {
  padding-top: 10px;
}

.contact-text a {
  text-decoration: none;
  color: white;
}

.social-link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 49px;
}

.social-link a {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  text-align: center;
  width: 50px;
}
.social-link i {
  padding-top: 6px;
  text-decoration: none;
  color: white;
  font-size: 35px !important;
}

.footer-copyright {
  text-align: center;
  padding-top: 78px;
  width: 100%;
}
.footer-copyright p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font: 16px "Poppins", Arial, sans-serif;
}

/* Footer section */
