*,
body,
html {
  margin: 0;
  padding: 0;
}

.main_container {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(46, 189, 196, 1) 0%,
    rgba(104, 229, 178, 1) 100%
  );
}

.navbar-scroll{
  background-color: white;
  height: 40px;
  padding: 20px;
  position: fixed;
  margin-top:-2px  !important;
  transition: 0.2s ease-in;
}

.navbar-scroll  .navbar-brand{
  color: #3a4348;
}
.navbar-scroll .nav-link {
  color: #3a4348;
}
.navbar-scroll .nav-list button{
  background-color: #24bdc9 ;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* position: relative; */
  z-index: 9;
  padding-top: 30px;
}

.navbar-brand {
  font: 20px "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list {
  display: flex;
  /* padding-left: 190px; */
  list-style: none;
  z-index: 2;
}

.nav-link {
  padding: 20px;
  font: 14px "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}

.nav-list button {
  border: 0.5px solid rgb(255, 255, 255, 0.7);
  color: white;
  font: 14px "Poppins", sans-serif;
  background-color: transparent;
  width: 120px;
  margin-top: -10px;
  padding: 10px;
  border-radius: 25px;
}

/* .navbar--nav-alllist{
    align-items: center;
} */
.Hamburger-menu {
  display: none;
  color: white;
  font-size: 20px;
}

.Hamburger-menu a {
  color: white;
  text-decoration: none;
}

.icon-name {
  text-decoration: none;
  font: 20px "Poppins", sans-serif;
}

/* Navbar-css over */

/* hero--circle-section start */
.hero--circle-section {
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero--circle-section .overlay-circle-bg-1:before {
  position: absolute;
  margin-top: 112px;
  right: calc(100% - 70%);
  content: "";
  opacity: 1;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.hero--circle-section .overlay-circle-bg-1:after {
  position: absolute;
  margin-top: 272px;
  left: calc(100% - 70%);
  content: "";
  opacity: 1;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.hero--circle-section .overlay-circle-bg-2:before {
  position: absolute;
  top: -70px;
  left: calc(100% - 89%);
  content: "";
  opacity: 1;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.hero--circle-section .overlay-circle-bg-2:after {
  position: absolute;
  margin-top: 464px;
  right: calc(100% - 97%);
  content: "";
  opacity: 1;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* hero--circle-section end */

/* hero-section--container start */
.hero-section--container {
  display: flex;
  padding-bottom: 70px;
  padding-top: 150px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.hero-section-para1 {
  
  color: white;
  font: 44px "Poppins", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
  line-height: 55px;
}

.hero-section-para2 {
  color: rgb(255, 255, 255, 0.7);
  font: 20px "Poppins", Arial, sans-serif;
  padding-bottom: 30px;
  font-weight: 300;
  line-height: 32px;
}

.hero-section-btn {
  
  background-color: white;
  color: #24bdc9;
  width: 140px;
  border: none;
  border-radius: 30px;
  padding: 17px;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 400;
}
.hero-section--para{
    width: calc(30% - 90px);
    padding-left: 90px;
}
.hero-section--image{
    width: 100%;
}
.hero-image {
  display: flex;
  justify-content: end;
  width: 55%;
}
/* .hero-section--image {
  margin-top: 90px;
} */

.raptor-image {
  width: 100%;
}
/* domainsection */
.domainsection-contianer {
  background: #f8faff;
  width: 100%;
  padding-bottom: 54px;
}

.domainsection {
  padding-top: 190px;
  width: 100%;
  text-align: center;
}

.domainsection-para1 {
  color: #24bdc9;
  font: 14px "Poppins", sans-serif;
  display: block;
  margin-bottom: 20px;
}

.domainsection-para2 {
  display: block;
  margin-bottom: 28px;
  font: 30px "Poppins", sans-serif;
  font-weight: 400;
}

.domainsection-para3 {
  color: #91a0a8;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
}

.formsection {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding-bottom: 30px;
}

.formsection-form {
  border: 1px solid #9ff0c8;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  /* width: 675px; */
  width: 50%;
  
}

.formsection-domain {
  /* width: 450px; */
  width: 60%;
  height: 70px;
  border: none;
  background-color: white;
}

.formsection-domain::placeholder {
  padding-left: 25px;
  font: 18px "Poppins", Arial, sans-serif;
}

.formsection-submitbtn {
  border: none;
  height: 69px;
  /* width: 207px; */
  width: 35%;
  background: rgb(34, 212, 123);
  font: 17px Poppins, Arial, sans-serif;
  margin-left: -4px;
  color: white;
}

.domainsvalue {
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
}

.domainvalue--text {
  padding: 10px;
}

.domainsvalue span small {
  font-size: 12.8px;
  color: #24bdc9;
}

/* Services section start*/

.service-tagline {
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  padding: 115px 0;
}

.service-tag {
  color: #24bdc9;
  font-size: 14px;
  padding: 20px 0;
}

.service-tagline h2 {
  font-size: 30px;
  font-weight: 400;
  padding: 20px 0;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 50px;
  justify-items: center;
  padding-bottom: 209px;
  text-align: center;
  margin: 0 50px;
}

.servicelist {
  font-family: "Poppins", Arial, sans-serif;
}

.servicename {
  font-size: 20px;
  font-weight: 400;
  margin: 7px 0px;
}

.servicedesc {
  font-size: 16px;
  font-weight: 300;
  color: #81919a;
}

.service-img {
  position: relative;
}

.overlay-circle-bg-3:before {
  position: absolute;
  margin-top: 14px;
  right: calc(100% - 44%);
  content: "";
  opacity: 0.7;
  width: 25px;
  height: 25px;
  background: #cdf3f6;
  border-radius: 50%;
}

.overlay-circle-bg-4:after {
  position: absolute;
  margin-top: 50px;
  left: calc(100% - 47%);
  content: "";
  opacity: 0.7;
  width: 40px;
  height: 40px;
  background: #d4f8e6;
  border-radius: 50%;
}

.overlay-circle-bg-5:before {
  position: absolute;
  margin-top: 14px;
  left: calc(100% - 63%);
  content: "";
  opacity: 0.7;
  width: 25px;
  height: 25px;
  background: #cdf3f6;
  border-radius: 50%;
}

.overlay-circle-bg-6:after {
  position: absolute;
  margin-top: 50px;
  left: calc(100% - 46%);
  content: "";
  opacity: 0.7;
  width: 40px;
  height: 40px;
  background: #d4f8e6;
  border-radius: 50%;
}

.overlay-circle-bg-7:before {
  position: absolute;
  margin-top: 14px;
  left: calc(100% - 62%);
  content: "";
  opacity: 0.7;
  width: 25px;
  height: 25px;
  background: #cdf3f6;
  border-radius: 50%;
}

.overlay-circle-bg-8:after {
  position: absolute;
  margin-top: 57px;
  left: calc(100% - 47%);
  content: "";
  opacity: 0.7;
  width: 40px;
  height: 40px;
  background: #d4f8e6;
  border-radius: 50%;
}

/* Services section end */

/* pricing section */
.pricing-container {
  background: #f8faff;
  width: 100%;
}

.pricing-tagline {
  padding-top: 190px;
  width: 100%;
  text-align: center;
}

.pricing-tag {
  color: #24bdc9;
  font: 14px "Poppins", sans-serif;
  display: block;
  margin-bottom: 20px;
}

.pricing-tagline h2 {
  display: block;
  margin-bottom: 28px;
  font: 30px "Poppins", sans-serif;
  font-weight: 400;
}

.pricing-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  padding-bottom: 209px;
  text-align: center;
  grid-row-gap: 39px;
  align-content: center;
  font-family: "Poppins", Arial, sans-serif;
}

.pricing-listbox {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 250px;
  height: 570px;
}

.prices {
  background: #24bdc9;
  padding: 10px 20px 22px 20px;
  width: 38px;
  height: 8px;
  margin: 0px 90px;
  font: 14px "Poppins", Arial, sans-serif;
  border-radius: 0px 0px 93px 62px / 0px 216px 77px 57px;
}

.prices2 {
  background: #24bdc9;
  padding: 10px 20px 22px 20px;
  width: 60px;
  height: 8px;
  margin: 0px 80px;
  font: 14px "Poppins", Arial, sans-serif;
  border-radius: 0px 0px 93px 62px / 0px 216px 77px 57px;
}

.pricing-mentiontag {
  color: white;
}

.pricing-mentiontag2 {
  color: white;
}

.hosting {
  position: relative;
  margin-top: 50px;
}

.dollar {
  position: relative;
  font-size: 20px;
  top: -23px;
  font-weight: 300;
}

.number {
  font-size: 40px;
}

.price-desc {
  padding: 22px 20px;
  color: #b3b3b3;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
}

.price-desc2 {
  padding: 20px 0px;
  color: #b3b3b3;
  margin: 0px 50px;
  width: 150px;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
}

.ctnbutton {
  border: none;
  background: #daf6f8;
  color: #24bdc9;
  padding: 20px;
  width: 200px;
  font: 16px "Poppins", Arial, sans-serif;
  border-radius: 35px;
}

.price-para1 {
  font: 16px "Poppins", Arial, sans-serif;
  padding-top: 20px;
}

.price-para2 {
  width:161px;
  font: 16px "Poppins", Arial, sans-serif;
  text-align: center;
  padding-left: 41px;
  padding-top: 20px;
  line-height: 41px;
}

.hosting-service {
  color: #b3b3b3;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
}

/* pricing section end */

/* Fun Facts css */
.funfact-container{
    position: relative;
}
.funfact-container::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
      135deg,
      rgba(46, 189, 196, 0.8),
      rgba(104, 229, 178, 0.7)
    ),
    url(../images/backimg.png);

  width: 100%;
  height: 100%;
  
  display: block;
  background-size: cover;
}

.funfactpara {
  font-family: "Poppins", Arial, sans-serif;
  color: white;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 200px;
}

.funfact-para1 {
  font-size: 40px;
}

.funfact-para2 {
  font-size: 14px;
  padding: 20px 0px;
  font-weight: 300;
}
.funfact--features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 50px;
  position: relative;
  text-align: center;
}

.funfact-section {
  font-family: "Poppins", Arial, sans-serif;
}
.funfact-number {
  font-size: 30px;
  color: white;
}

.funfact-desc {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
/* Fun Facts css  end*/

/* customer testimonial css */
.customertestimonial-container {
  background: #f8faff;
  width: 100%;
}

.customertestimonial-section {
  padding-top: 190px;
  width: 100%;
  text-align: center;
}

.testimonialsection-para1 {
  color: #24bdc9;
  font: 14px "Poppins", sans-serif;
  display: block;
  margin-bottom: 20px;
}

.testimonialsection-para2 {
  display: block;
  margin-bottom: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.testimonialdesc {
  display: flex;
  width: 100%;
  justify-content: center;
}
.testimonialsection-para3 {
  display: block;
  color: #91a0a8;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
  width: 50%;
  padding: 15px;
}

.customertestimonial-feedback {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-top: 60px;
  padding-bottom: 209px;
  font-family: "Poppins", Arial, sans-serif;
}

.testimonial-feedback {
  box-shadow: rgba(145, 160, 168, 0.08) 0px 2px 8px 0px;
  width: 360px;
  position: relative;
  background: white;
  height: 370px;
}
.customerprofile {
  position: absolute;
  left: 36px;
  top: -40px;
}
.customerphoto {
  position: relative;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.doublequoteicon-circle {
  position: absolute;
  border-radius: 50px;
  background: #e1faee;
  width: 45px;
  height: 45px;
  bottom: 3px;
  left: 70px;
}
.doublequoteicon {
  font-size: 60px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  color: #22d47b;
}
.customer-review {
  color: #81919a;
  font: 16px "Poppins", Arial, sans-serif;
  margin-top: 100px;
  padding: 0px 34px;
  font-weight: 300;
  line-height: 30px;
}
.customer-name {
  padding: 34px;
}

.cust-name {
  font-size: 16px;
  color: #3a4348;
  font-weight: 500;
  padding-bottom: 10px;
}

.cust-designation {
  font-size: 13px;
  color: #81919a;
  font-weight: 300;
}
/* customer testimonial css end */

/* How services work  */
.servicework-container {
  width: 100%;
}
.servicework-section {
  padding-top: 190px;
  width: 100%;
  text-align: center;
}

.servicesection-para1 {
  color: #24bdc9;
  font: 14px "Poppins", sans-serif;
  display: block;
  margin-bottom: 20px;
}

.servicesection-para2 {
  display: block;
  margin-bottom: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.servicework-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px;
}

.work-btn {
  border: none;
  margin: 0px 5px;
  background: #22d47b;
  font: 18px "Poppins", sans-serif;
  width: 150px;
  padding: 10px;
  color: white;
  border-radius: 25px;
}
.work-btn-notactive {
  border: 1px solid#22D47B;
  margin: 0px 5px;
  background-color: transparent;
  color: #22d47b;
  font: 18px "Poppins", sans-serif;
  width: 150px;
  padding: 10px;
  border-radius: 25px;
}
.work-btn-notactive:hover{
  background: #22d47b;
  color: white;
  transition: 0.5s ease;
}
.vpnsection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 84px;
}
.vpsection-img {
  width: 100%;
}
.vpn-img {
  max-width: 100%;
  width: 500px;
  height: auto;
}

.vpn-content {
  font-family: "Poppins", Arial, sans-serif;
  padding: 20px;
  padding-top: 33px;
  width: 50%;
}

.vpn-content h1 {
  font-weight: 400;
  padding-bottom: 20px;
}

.vpn-para1 {
  font-size: 16px;
  color: #81919a;
  font-weight: 300;
  padding-bottom: 20px;
}
/* How services work  end*/

/* Newsletter section css */
.newsletter-container {
  /* position: absolute; */
  padding: 70px 0px;
  background-image: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%);
  width: 100%;
  display: block;
}

.newsletter-section {
  display: block;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  margin-top: 160px;
}

.newsletter-section h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
.newletter-desc {
  display: flex;
  width: 100%;
  justify-content: center;
}
.newsletter-para {
  display: block;
  width: 50%;
  color: rgba(255, 255, 255, 0.9);
  font: 16px "Poppins", Arial, sans-serif;
  padding: 15px;
  line-height: 30px;
  font-weight: 300;
}
.newsletter-input {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 300px;
  margin-top: 50px;
  align-items: center;
  border: 1px solid white;
  border-radius: 30px;
}
.newsletter-inp-box {
  background-color: transparent;
  padding: 12px;
  border: none;
  outline: none;
  width: 280px;
  font: 18px "Poppins", Arial, sans-serif;
  /* color: white; */
}

.fa-paper-plane-o {
  color: white;
  margin-right: 15px;
  font-size: 20px !important;
}
.newsletter-inp-box::placeholder {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 5px;
  font-weight: 700;
  font: 18px "Poppins", Arial, sans-serif;
}

/* Newsletter section css end*/

/* Blog section css */

.blog-container {
  background: #f8faff;
  width: 100%;
  padding-bottom: 100px;
}

.blog-section {
  padding-top: 190px;
  width: 100%;
  text-align: center;
}

.blog-tag {
  color: #24bdc9;
  font: 14px "Poppins", sans-serif;
  display: block;
  margin-bottom: 20px;
}

.blog-header {
  display: block;
  padding-bottom: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.blog-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blog-text p {
  display: block;
  width:50%;
  color: #91a0a8;
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 300;
}

.blog-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 82px;
}
.blog-card {
  background: white;
  width: 360px;
  height: 100%;
  margin: 20px;
}

.card-img img {
  width: 100%;
  display: block;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
}

.fa-commenting-o {
  padding-right: 5px;
  font-size: 20px !important;
}

.blog-info {
  font: 15px "Poppins", Arial, sans-serif;
  color: #9eaab0;
  padding: 20px 20px;
  font-weight: 400;
}
.blog-text-two {
  font: 20px "Poppins", Arial, sans-serif;
  color: #3a4348;
  padding: 20px 20px;
}
/* Blog section css */

/* Footer section css */
.footer-main {
  width: 100%;
  background-color: #24bbc9;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 55px;
}
.footer-box--one {
  width: 17%;
}
.footer-box--lg {
  width: 20%;
  position: relative;
}
.footer-box--sg {
  width: 20%;
}

.footer-head {
  font: 18px "Poppins", Arial, sans-serif;
  color: white;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer-text {
  font: 16px "Poppins", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.footer-link {
  list-style: none;
  padding-top: 22px;
  color: rgba(255, 255, 255, 0.7);
  font: 16px "Poppins", Arial, sans-serif;
}
.footer-link:hover{
  color: white;
}
.contact-link {
  list-style: none;
}
.contact-link li {
  color: white;
  list-style: none;
  line-height: 50px;
}
.contact-link i {
  width: 30px;
  font-size: 18px;
}
.footer-btn {
  border: none;
  background-color: white;
  color: #24bbc9;
  font: 16px "Poppins", Arial, sans-serif;
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
}
.contact-text {
  color: white;
  font: 16px "Poppins", Arial, sans-serif;
}
.menu-link {
  line-height: 25px;
}
.contact-wrapper {
  display: flex;
}
.contact-para {
  padding-top: 10px;
}

.contact-text a {
  text-decoration: none;
  color: white;
}

.social-link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 49px;
}

.social-link a {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  text-align: center;
  width: 50px;
}
.social-link i {
  padding-top: 6px;
  text-decoration: none;
  color: white;
  font-size: 35px !important;
}

.footer-copyright {
  text-align: center;
  padding-top: 78px;
  width: 100%;
}
.footer-copyright p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font: 16px "Poppins", Arial, sans-serif;
}

/* Footer section */
