
@media screen and (max-width: 1270px) {
    .hero-section--container{
        position: relative;
        display: block;
    }
    .hero-image {
        width: 70%;
        margin: 0 auto;
    }
    .hero-section--para{
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }
    .hero-section-para2{
        margin: 0 auto; 
    }
.hero-image{
    padding-top:40px
}
}

@media screen and (max-width:1170px){
    .faq-wraper{
        width: 50%;
        padding-top: 55px;
        padding-right: 64px;
        padding-left: 50px;
    }
    .faq-wraper-two{
        width: 50%;
        padding-top: 55px;
        padding-right: 54px;
    }
}
@media screen and (max-width:1056px) {
  .hero-section--container {
    display: block;
    padding-top: 30px;
  }
}

@media screen and (max-width: 1000px) {
    .navbar-scroll{
        background-color: white !important;
        height: 40px !important;
        transition: 0.2s ease-in !important;
      }
      
      .navbar-scroll  .navbar-brand{
        color: #3a4348 !important;
      }
      .navbar-scroll .nav-link {
        color: #3a4348 !important;
      }
      .navbar-scroll .nav-list button{
        background-color: #24bdc9 !important ;
        color: white !important;
      }
      .navbar-scroll .Hamburger-menu span{
          color:#353535 !important;
      }
      .navbar-scroll .Hamburger-menu a{
          color: #353535 !important;
      }
    .nav-list--xs {
    display: block !important;
    background: #353535;
    text-align: left;
    left: 50px;
  }
  .navbar-scroll .nav-list--xs{
      background: white!important;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  }
  .navbar {
    background: #353535;
    margin-top: 0px;
    position:fixed;
    
  }
  .nav-list {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
  }
  .nav-list button {
    margin-top: 5px;
  }
  .brand-name {
    margin-left: -30px;
  }
  .Hamburger-menu {
    display: block;
    color: #ddd;
  }
  .icon-name {
    color: aliceblue;
    padding-left: 12px;
  }
  .nav-link {
    margin-left: 59px;
    margin-bottom: 30px;
    line-height: 49px;
  }

  .nav-link button {
    width: 100%;
  }

  .footer-container {
      display: flex;
justify-content: space-evenly;
 }

  .company-info {
    justify-content: space-between;
  }

  .footer-btn {
    width: 150px;
  }

  .services-feature{
      padding-bottom: 40px;
  }

  .menu-info{
    padding-bottom: 40px;
  }

  .footer-box--lg{
    width: 40%;
  }
  .social-link{
    width: 245px;
  }
  .vpn-content{
      width: 100%;
      text-align: center;
  }
  .feature-btn{
    padding-left: 25px;
  }
  .feature-desc p{
      padding-right:0px ;
  }
  .faq-wraper{
    padding-right: 9px;
    padding-left: 21px;
  }
  .faq-wraper-two{
    padding-top: 55px;
    padding-right: 28px;
  }
}

@media screen and (max-width:830px){
    .feature-btn-active{
        font: 15px "Poppins", sans-serif;
        width: 139px;
    }
    .feature-btn-noactive{
        font: 15px "Poppins", sans-serif;
        width: 139px;
    }
    .faq-section{
        flex-wrap: wrap;
    }
    .faq-wraper{
        width: 100%;
        padding: 15px 20px;
    }
    .faq-wraper-two{
        width: 100%;
        padding: 5px 20px;
    }
}
@media screen and (max-width:767px){
    .feature-container{
        flex-wrap: wrap;
    }
    .feature-wraper{
        width: 100%;
    }
    .feature-img-wraper{
        
        width: 100%;
        justify-content: center;
    }
    .feature-btn{
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
    }
    .feature-btn-active{
        width: 100%;
    }
    .feature-btn-noactive{
        margin: 10px 5px;
        width: 100%;
    }
    .team-wraper{
        flex-wrap: wrap;
    }
    .member-container{
        width: 80%;
        padding-bottom: 58px;
    }
    .contact-detail-wraper{
        flex-wrap: wrap;
    }
    .contact-details{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-details .para{
        width: 100%;
    }
    .detail-section{
        flex-wrap: wrap;
    }
    .form-wraper{
        width: 100%;
    }
    .map-section{
        width: 100%;
        padding-top: 50px;
    }
}
@media screen and (max-width: 700px){
    .hero-section--para{
        width: 50%;
        padding-left: 20px;
      
    }
    .formsection-form{
        width: 75%; 
    }
    .formsection-domain{
        width: 100%; 
    }
    .formsection-submitbtn{
        width: 100%; 
    }
    .customertestimonial-feedback{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 70px;
        justify-items: center;
        margin-top: 60px;
        padding-bottom: 209px;
        font-family: "Poppins", Arial, sans-serif;
    }
    .vpn-content{
        width: 100%;
        text-align: center;
    }
    .footer-container {
        display: block;
   }
}

@media screen and (max-width: 600px){
    .hero-section--para{
        width: 70%;
    }
    .servicework-btn{
        display: block;
    }
    .work-btn{
        width: 100%;
        margin-bottom: 20px;
        padding: 17px 0px;
    }
    .work-btn-notactive{
        width: 100%;
        margin: 20px auto;
        padding: 18px 0px;
    }
    .vpn-content{
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 500px){
    .domainsection-para2{
        font-size: 20px;
    }
    .domainsection-para3{
        font-size: 12px;
    }
    .testimonialsection-para2{
        font-size: 20px;
    }
    .testimonialsection-para3{
        font-size: 15px;
    }
    .pricing-listbox{
        width:70%;
    }
    .prices{
        margin:0 auto;
    }
    .hosting{
        text-align: center;
    }
    .price-desc2{
        margin:0 auto;
    }
    .price-para2{
        margin:0 auto;
    }
    .footer-box--one{
        width: 40%;
    }
    .footer-box--sg{
        width: 40%;
    }
    .footer-box--lg{
        width: 100%;
    }
    .hero-section--para{
        width: 60%;
    }
    .hero-section-para1{
        font-size: 40px;
    }
    .hero-section-para2{
        font-size: 15px;
    }
    .vpn-content{
        width: 100%;
        text-align: center;
    }
    .pricing-table{
     display: block;
    }
}

@media screen and (max-width: 400px){
    .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-gap: 50px;
    justify-items: center;
    padding-bottom: 209px;
    text-align: center;
    margin: 0 50px;
}
.customertestimonial-feedback{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 70px;
    justify-items: center;
    margin-top: 60px;
    padding-bottom: 209px;
    font-family: "Poppins", Arial, sans-serif;
}
.testimonial-feedback{
    width: 300px;
}
.blog-text p{
    font-size:10px;
}
.hero-section--para{
    width: 83%;
}
.hero-section-para1{
    font-size: 32px;
}
.vpn-content{
    width: 100%;
    text-align: center;
}
.faq-box p{
    font: 16px 'Poppins',Arial,sans-serif;
}
.faq-box .accordion p:after{
    padding: 1px 7px;
    font-size: 13px;
}
.faq-box .panel{
font: 12px 'Poppins',Arial,sans-serif;
}
.detail-section{
    width: 100%;
}
.form-wraper{
    width: 98%;
}
.map-section{
    width: 100%;
}
}

@media screen and (max-width:320px){
    .faq-box p{
        font: 12px 'Poppins',Arial,sans-serif;
    }
    .faq-box .panel{
        padding: 46px 20px;
        font: 12px 'Poppins',Arial,sans-serif;
    }
}